<h1>Welcome to <%= @portfolio.portfolio_name %> </h1>
<%= link_to  "Add Investment", new_stock_path %>
<h3>Here are all your investments for this portfolio:</h3>
<table>
<tr>
<th>Stock Name </th>
<th>Current Price </th>
<th>Purchased Price</th>
<th>Number of shares owned</th>
</tr>
<tr>
<% @data.each do |d| %>
    <td> <%= d.first %> </td>
    <td> $<%=d.second  %> </td>
    <td> $<%=d.third  %> </td>
    <td> <%=d.fourth  %> </td>
</tr>
<% end %>
</table>
<h1>These are the current reviews of this portfolio</h1>
<ol>
<% @portfolio.reviews.each do |review| %>
    <h3>Title: <%= review.title %></h3>
    <p><%= review.content %></p>
    <p>Ratings: <%= review.ratings %></p>
<% end %>
</ol>

<%= link_to  "Add a review for this Portfolio", new_review_path %>
<%= button_to "Delete this Portfolio", portfolio_path(@portfolio), method: :delete %>
