<h1>Sign Up</h1>

<%= form_for @user do |f|%>
<%=f.label :first_name, "First Name"%>
<%=f.text_field :first_name%>

<%=f.label :last_name, "Last Name"%>
<%=f.text_field :last_name%>

<%=f.label :address, "User Name"%>
<%=f.text_field :user_name%>

<%=f.label :rent_per_floor, "Password"%>
<%=f.password_field :password%>

<%=f.label :number_of_floors, "Email"%>
<%=f.text_field :email%>

<%= f.submit %>
<%end%>